<html>
<head>
  <style>
  #map {
    height: 500px;
    width: 100%;
  }
  </style>
    <script>
    
        function initMap() {
            var myLatLng = {lat: 72.792081, lng: -38.714440}; //greenland
            var map = new google.maps.Map(document.getElementById('map'), {
              zoom: 4,
              center: myLatLng
            });

            var marker = new google.maps.Marker({
                position: myLatLng,
                map: map,
                title: 'Hello World!'
            });
        }
        $(document).ready(function () {
          $( ".show-comments" ).click(function() {
            if ($("#comments-" + this.id)){
              $("#comments-" + this.id).toggle(function() {
                $("#comments-" + this.id).hide();
              }, function() {
                $("#comments-" + this.id).show();
              });
            }
          });
        });
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCFVlMvTZLC8tadlYb1IQ9VDjQrW5v1a5Y&callback=initMap">
    </script>
    </head>
    
    <body>
        <a href="/users/sign_in" class="btn btn-success" style="float:right; margin-right: 10px">Sign in</a>
        <h1 style="margin-left: 20px;"> Arctic Voice </h1>
        <form action="" method="GET" >
            <input type="text" placeholder="Search for a community, region, or research topic..."name="search" style="margin-left: 20px; width:350px;">
            <input class="btn btn-primary" type="submit">
       </form>
        <div id="map">
            
        </div>
        <% @posts.each do |post| %>
            <div class="container" style="background-color: #fafafa;"> 
              <h3> <%= post.title %> </h3>
              <div> <%= post.body %> </div>
              <div> <%= post.location %> </div>
              <div> <b>Created at:</b> <%= post.created_at %> </div>
              <div> <b>Updated at:</b> <%= post.updated_at %> </div>
              <div> <b>Tags:</b> <%= post.tags %> </div>
              <div id="<%= post.id %>" class="show-comments"> <% if post.comments %> <%= post.comments.length %> <% if post.comments.length == 1 %> comment <% else %> comments <% end %> <% else %> 0 comments <% end %> </div>
              <% if post.comments.length != 0 %> <div id="comments-<%= post.id %>" style="display:none;"> showing comments
              </div> <% end %>
            </div>
            <br>
        <% end %> 
    </body>
</html>