<html>
<head>
  <style>
  #map {
    height: 500px;
    width: 100%;
  }
  </style>
    <script>
        $(document).ready(function () {
          $( ".show-comments" ).click(function() {
            var post_id = this.id;
            if ($("#comments-" + post_id + ":visible").length){
              $("#comments-" + post_id).hide();
              $("#action-" + post_id).html('view comments');
            } else{
              $("#comments-" + post_id).show();
              $("#action-" + post_id).html('hide comments');
            }
          });

        });
    </script>
    <%= javascript_include_tag('javascripts/map.js') %>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCFVlMvTZLC8tadlYb1IQ9VDjQrW5v1a5Y&callback=initMap">
    </script>
    </head>
    
    <body>
      <div style="float:right; margin-right: 10px">
        <% if user_signed_in? %>
            <a href="/posts/new" class="btn btn-info">New Post</a>
            <%= link_to('Logout', destroy_user_session_path, :method => :delete, :class=>"btn btn-success") %>        
        <% else %>
            <a href="/users/sign_in" class="btn btn-info">Sign in</a>
            <a href="/users/sign_up" class="btn btn-success">Sign up</a>
        <% end %>
      </div>
        
        <h1 style="margin-left: 20px;"> Arctic Voice </h1>
       <div class="row">
        <div class="col-md-6">
          <div id="map"> </div>
        </div>
        <div class="col-md-6">
          <%= form_tag({:controller => "posts", :action => "search_posts"}, :method => "get") do %>
            <%= text_field_tag(:search_string, "", :style => "margin-left: 20px; width:350px;", :placeholder => "Search for a community, region, or research topic...") %>
            <%= submit_tag "Search", :class => "btn btn-primary" %>
          <% end %>
          <% @posts.each do |post| %>
            <div class="container" style="background-color: #fafafa;"> 
              <h3> <%= post.title %> </h3>
              <div> <%= post.body %> </div>
              <div> <%= post.location %> </div>
              <div> <b>Created at:</b> <%= post.created_at %> </div>
              <div> <b>Updated at:</b> <%= post.updated_at %> </div>
              <div> <b>Tags:</b> <%= post.tags %> </div>
              <% if post.comments.length != 0 %>
                <div id="<%= post.id %>" class="show-comments" style="color: blue;cursor: pointer;"> 
                <span id="action-<%= post.id %>"> view comments </span> 
                <% if post.comments.length == 1 %> (1 comment) <% else %> (<%= post.comments.length %> comments) <% end %>
                </div>
                <br>
                <div id="comments-<%= post.id %>" style="display:none;">
                  <div class="comment-section">
                    <%= form_tag create_comment_path, method: "post" do %>
                      <%= hidden_field_tag "id", post.id %>
                        <%= text_field_tag(:title, "", :placeholder => "Comment Title (optional)", :style => "width:175px;") %>
                        <%= text_area_tag(:comment,"", :style => "display: block;") %>
                        <%= submit_tag "Submit" %>
                      <% end %>
                  </div>
                  <div class="comment-list-<%= post.id %>">
                    <% post.comments.each do |comment| %>
                      <h5> <%= comment.title %> </h5>
                      <%= comment.comment %> <br>
                        <% if comment.user %> <%= comment.user.name %> <% end %> <br> <br>
                      <% end %>
                  </div>
                </div> 
              <% else %>
              
              <div id="comments-<%= post.id %>"> (0 comments)
                <div class="comment-section">
                  <%= form_tag create_comment_path, method: "post" do %>
                    <%= hidden_field_tag "id", post.id %>
                      <%= text_field_tag(:title, "", :placeholder => "Comment Title (optional)", :style => "width:175px;") %>
                      <%= text_area_tag(:comment,"", :style => "display: block;") %>
                      <%= submit_tag "Submit" %>
                    <% end %>
                </div>
              </div>
              <% end %>
            </div>
            <br>
        <% end %> 
    </body>
</html>