<html>
<head>
  <style>
  #map {
    height: 500px;
    width: 100%;
  }
  </style>
    <script>
    
        function initMap() {
            var myLatLng = {lat: 72.792081, lng: -38.714440}; //greenland
            var map = new google.maps.Map(document.getElementById('map'), {
              zoom: 4,
              center: myLatLng
            });

            var marker = new google.maps.Marker({
                position: myLatLng,
                map: map,
                title: 'Hello World!'
            });
        }
        $(document).ready(function () {
          $( ".show-comments" ).click(function() {
            var post_id = this.id;
            if ($("#comments-" + post_id + ":visible").length){
              $("#comments-" + post_id).hide();
              $("#action-" + post_id).html('view comments');
            } else{
              $("#comments-" + post_id).show();
              $("#action-" + post_id).html('hide comments');
            }
          });

        });
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCFVlMvTZLC8tadlYb1IQ9VDjQrW5v1a5Y&callback=initMap">
    </script>
    </head>
    
    <body>
        <a href="/users/sign_in" class="btn btn-success" style="float:right; margin-right: 10px">Sign in</a>
        <h1 style="margin-left: 20px;"> Arctic Voice </h1>
        <form action="" method="GET" >
            <input type="text" placeholder="Search for a community, region, or research topic..."name="search" style="margin-left: 20px; width:350px;">
            <input class="btn btn-primary" type="submit">
       </form>
        <div id="map">
            
        </div>
        <% @posts.each do |post| %>
            <div class="container" style="background-color: #fafafa;"> 
              <h3> <%= post.title %> </h3>
              <div> <%= post.body %> </div>
              <div> <%= post.location %> </div>
              <div> <b>Created at:</b> <%= post.created_at %> </div>
              <div> <b>Updated at:</b> <%= post.updated_at %> </div>
              <div> <b>Tags:</b> <%= post.tags %> </div>
              <% if post.comments.length != 0 %>
                <div id="<%= post.id %>" class="show-comments" style="color: blue;cursor: pointer;"> 
                <span id="action-<%= post.id %>"> view comments </span> 
                <% if post.comments.length == 1 %> (1 comment) <% else %> (<%= post.comments.length %> comments) <% end %>
                </div>
                <br>
                <div id="comments-<%= post.id %>" style="display:none;">
                  <div class="comment-section">
                    <%= form_tag create_comment_path, method: "post" do %>
                      <%= hidden_field_tag "id", post.id %>
                        <%= text_field_tag(:title, "", :placeholder => "Comment Title (optional)", :style => "width:175px;") %>
                        <%= text_area_tag(:comment,"", :style => "display: block;") %>
                        <%= submit_tag "Submit" %>
                      <% end %>
                  </div>
                  <div class="comment-list-<%= post.id %>">
                    <% post.comments.each do |comment| %>
                      <h5> <%= comment.title %> </h5>
                      <%= comment.comment %> <br>
                        <% if comment.user %> <%= comment.user.name %> <% end %> <br> <br>
                      <% end %>
                  </div>
                </div> 
              <% else %>
              
              <div id="comments-<%= post.id %>"> (0 comments)
                <div class="comment-section">
                  <%= form_tag create_comment_path, method: "post" do %>
                    <%= hidden_field_tag "id", post.id %>
                      <%= text_field_tag(:title, "", :placeholder => "Comment Title (optional)", :style => "width:175px;") %>
                      <%= text_area_tag(:comment,"", :style => "display: block;") %>
                      <%= submit_tag "Submit" %>
                    <% end %>
                </div>
              </div>
              <% end %>
            </div>
            <br>
        <% end %> 
    </body>
</html>