<%= simple_form_for @post do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= "#{pluralize(@post.errors.count, "error")} prohibited this post from being saved:" %>
      </h2>
      <ul>
        <% @post.errors.full_messages.each do |msg| %>
          <li>
            <%= msg %>
          </li>
          <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.input :title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.input :body, :as => :ckeditor, input_html: {:ckeditor => {:toolbar => 'FULL'}}, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.hidden_field :latitude, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.hidden_field :longitude, class: "form-control" %>
  </div>

  <div class="form-group">
    <div id="map" style="margin-left: 25%; margin-right: 25%; width:50%"> </div>
  </div>

  <div class="form-group">
    <%= f.button :submit %>
  </div>
<% end %>

<script>
function initMap() {
  locationInit('post_latitude', 'post_longitude');
};
</script>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCFVlMvTZLC8tadlYb1IQ9VDjQrW5v1a5Y&callback=initMap"></script>
