<!DOCTYPE html>
<html lang="en">
<html>
<head>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <meta name="google-site-verification" content="Mu9iDj4BWcP4odTuC9Bmd_gv83bc7MCGRgynT5N5p0g" />
  <title>ArcticVoice</title>
  <meta name="generator" content="Bootply" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "bootstrap.min.css" %>
  <%= stylesheet_link_tag "styles.css" %>
  <%= stylesheet_link_tag "homepage.css" %>

  <%= javascript_include_tag('//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js') %>
  <%= javascript_include_tag('bootstrap.min.js') %>

  <%= stylesheet_link_tag "https://fonts.googleapis.com/icon?family=Material+Icons" %>
</head>
<body>

  <div id="DIV_1">
    <div id="DIV_2">
      <a href="/" title="ArcticVoice" id="A_3"> <%= image_tag "logo-rectangle.png", :id => "IMG_5" %>  </a>
    </div>
    <%= form_tag({:controller => "/posts", :action => "search_posts"}, :method => "get", :id=>"FORM_6") do %>
    <div class="search-bar" data-reactid=".0.0" id="SearchIt">
      <i class="header-icon icon-search-alt-gray search-icon" aria-hidden="true" data-reactid=".0.0.0" id="I_2"></i>
      <label class="screen-reader-only" for="header-search-form" aria-hidden="true" data-reactid=".0.0.1" id="LABEL_3">Search</label>
      <%= text_field_tag(:search_string, "", :type=>"text", :id=>"INPUT_4", :class=>"location", :placeholder => "Search for a community, region, or research topic") %>
      <div id="DIV_5" data-reactid=".0.0.3" style="top: 6px;">
        <svg viewBox="0 0 24 24" style="fill:currentColor;height:1em;width:1em;display:block;" data-reactid=".0.0.3.0" id="svg_6">
          <path d="M23.53 22.47l-6.807-6.808A9.455 9.455 0 0 0 19 9.5 9.5 9.5 0 1 0 9.5 19c2.353 0 4.502-.86 6.162-2.277l6.808 6.807a.75.75 0 0 0 1.06-1.06zM9.5 17.5a8 8 0 1 1 0-16 8 8 0 0 1 0 16z" data-reactid=".0.0.3.0.0" id="path_7">
          </path>
        </svg>
      </div>
    </div>
    <%= submit_tag("Search", :class => "search-submit", :style => "display: none;") %>
    <% end %>

    <% if user_signed_in? %>
    <ul id="UL_27">
      <li id="LI_28">
        <%= link_to('My Profile', current_user, :id=>"A_29") %>
      </li>

      <li id="LI_28">
        <a href="/posts/new" id="A_29"> New Post </a>
      </li>
      <li id="LI_28">
        <%= link_to('Logout', destroy_user_session_path, :method => :delete, :id=>"A_29")%>
      </li>
    </ul>
    <% else %>
    <ul id="UL_27">
      <li id="LI_28">
        <a href="/users/sign_up" id="A_29"> Sign Up </a>
      </li>
      <li id="LI_28">
        <a href="/users/sign_in" id="A_29"> Log In </a>
      </li>
    </ul>
    <% end %>
  </div>

<%= yield %>

</body>
</html>
