<div class="container" style="margin-top: 50px">
<h2 style="text-align: center;">Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :name %>(Required)<br />
    <%= f.text_field :name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :email %>(Required)<br />
    <%= f.email_field :email %>
  </div>

  <div class="field">
    <%= f.label :is_researcher %>(Required)
    <%= f.check_box :is_researcher %>
  </div>

  <div class="field">
    <%= f.label :phone %><br />
    <%= f.phone_field :phone %>
  </div>

  <div class="field">
    <%= f.hidden_field :latitude %>
  </div>
  <div class="field">
    <%= f.hidden_field :longitude %>
  </div>

  <div class="field">
    <div id="map" style="margin-left: 25%; margin-right: 25%; width:50%"> </div>
  </div>

  <div class="field">
    <%= f.label :password %>(Required)
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= javascript_include_tag('location.js') %>
<script>
function initMap() {
  locationInit('user_latitude', 'user_longitude');
};
</script>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCFVlMvTZLC8tadlYb1IQ9VDjQrW5v1a5Y&callback=initMap"></script>

<%= render "users/shared/links" %>
</div>
